@import "../variables";

@mixin flexCenter($align_items, $justify_content) {
  display: flex;
  align-items: $align_items;
  justify-content: $justify_content;
}

.buy-by-category {
  .title {
    color: $red-secondary;
  }
  .owl-categorys {
    padding: 2rem;
    .circle {
      width: 6rem;
      height: 6rem;
      background-color: $white-primary;
      border: 2px solid grey;
      border-radius: 100%;
    }
  }

  .owl-carousel.owl-drag .owl-item {
    @include flexCenter(initial, center);
  }

  .owl-prev {
    left: 0px;
    width: 1rem;
  }

  .owl-next {
    right: 8px;
    width: 1rem;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 30px;
  }

  .owl-prev span,
  .owl-next span {
    font-size: 3rem;
  }
}
