@media (max-width: 768px) {
  .register {
    .col-register {
      flex-direction: column;

      div {
        padding: 0.5rem;
      }
    }
  }

  .social-midia{
    .message-social-midia {
      margin-right: 0rem;
      margin-bottom: 1rem;
    }
  }

  .content-register {
    .form-footer {
      .btn-footer {
        width: inherit;
      }
    }
  }
}
