@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.products {
  background-color: #fff;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.products .title {
  color: #920c0b;
  margin-bottom: 2rem;
}

.products .owl-carousel.owl-drag .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .owl-prev {
  right: 12px;
  width: 1rem;
}

.products .owl-next {
  right: -5px;
  width: 1rem;
}

.products .owl-prev,
.products .owl-next {
  position: absolute;
  top: -73px;
}

.products .owl-prev span,
.products .owl-next span {
  font-size: 2.5rem;
}

.product-item {
  border: 1px solid #e1e1e1;
  cursor: pointer;
  max-width: 300px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
}

.product-item .product-link {
  color: #555;
  text-decoration: none;
}

.product-item .product-info {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.product-item .product-info .tag-procent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: bold;
  left: 10px;
  top: 10px;
}

.product-item .product-info .tag-procent span {
  padding: 5px;
}

.product-item .product-info .tag-procent,
.product-item .product-info .alert-promo {
  position: absolute;
  background: #f00;
}

.product-item .product-info .alert-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  left: 9rem;
  top: 13rem;
  width: 10rem;
}

.product-item .product-info .alert-promo .flash-img {
  padding: 0 5px;
}

.product-item .product-info .alert-promo img {
  color: #fff;
  width: 1.5rem;
}

.product-item .product-empty {
  padding: 4.4rem;
}

.product-item .product-info-img {
  height: 240px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-item .product-info-img img {
  max-width: 200px;
}

.product-item .product-info-description {
  padding: 15px;
}

.product-item .product-info-description .title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 0;
}

.product-item .product-info-description .product-code {
  font-size: 10px;
}

.product-item .product-info-description .description {
  height: 30px;
  margin: 3px 0;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}

.product-item .price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.product-item .price del {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

.product-item .price ins {
  color: #920c0b;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.product-item .price .price-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-item:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: -2px 48px 56px -41px rgba(0, 0, 0, 0.37);
          box-shadow: -2px 48px 56px -41px rgba(0, 0, 0, 0.37);
}

.product-item .btn-block {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-item .btn-block .btn-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #d30e16;
  border: 0;
  cursor: pointer;
  border-radius: 0;
}

.product-item .btn-block .btn-buy .fas {
  margin-left: 3px;
}

.product-item .btn-block .btn-buy:hover {
  background: #0c1979;
}

.product-item .btn-block .btn-buy span {
  padding-left: 1rem;
}

.product-item .btn-buy,
.product-item .btn-empty {
  width: 100%;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-item .btn-block-empty {
  background-color: #bebebe;
}

.product-item .btn-block-empty .btn-empty {
  cursor: none;
}
/*# sourceMappingURL=products.css.map */