@import "../variables";

.vitrine {
  display: block;
  margin: 20px auto;
  max-width: 1300px;
  text-align: center;
  width: 100%;
}
.products {
  background-color: $white-primary;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}
.product-list {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
}
.product-item {
  border: 1px solid $white-secondary;
  cursor: pointer;
  margin: 15px 5px;
  max-width: 300px;
  transition: 0.2s;
  width: 100%;
  .product-link {
    color: #555;
    text-decoration: none;
  }
  .product-info {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

    /* .tag-procent {
      background:  $red-primary;
      color: $white;
      font-size: 12px;
      font-weight: bold;
      padding: 5px 15px;
      position: absolute;
      right: 10px;
      top: 10px;
    } */
  }
  .product-info-img {
    height: 240px;
    width: 100%;
    // center image
    align-items: center;
    display: flex;
    justify-content: center;
    img {
      max-width: 200px;
    }
  }
  .product-info-description {
    padding: 15px;
    .title {
      font-size: 16px;
      font-weight: bold;
      color: $black;
      margin: 0;
      padding: 0;
    }

    .product-code {
      font-size: 10px;
    }

    .description {
      height: 30px;
      margin: 3px 0;

      //limit caracteres text description
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
    }
  }
  .price-box {
    align-items: center;

    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  .price {
    del {
      color: $black;
      font-weight: bold;
      font-size: 14px;
      margin-right: 10px;
    }
    ins {
      color: $red-secondary;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
    }

    .price-column {
      display: flex;
      flex-direction: column;
    }
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: $shadow;
  }
}

.btn-block {
  padding-top: 1rem;

  display: flex;
  justify-content: center;

  .btn-buy {
    display: flex;
    justify-content: center;

    width: 17vmax;

    background: $red-tertiary;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.2s;
    .fas {
      margin-left: 3px;
    }

    &:hover {
      background: #0c1979;
    }

    span {
      padding-left: 1rem;
    }
  }
}

.d-block {
  display: block;
}
