@import "../variables";

@mixin flexCenter($align_items, $justify_content) {
  display: flex;
  align-items: $align_items;
  justify-content: $justify_content;
}

.products {
  background-color: $white-primary;
  margin-top: 3rem;
  margin-bottom: 2rem;

  .title {
    color: $red-secondary;
    margin-bottom: 2rem;
  }

  .owl-carousel.owl-drag .owl-item {
    @include flexCenter(initial, center);
  }

  .owl-prev {
    right: 12px;
    width: 1rem;
  }

  .owl-next {
    right: -5px;
    width: 1rem;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: -73px;
  }

  .owl-prev span,
  .owl-next span {
    font-size: 2.5rem;
  }
}

.product-item {
  border: 1px solid $white-secondary;
  cursor: pointer;

  max-width: 300px;
  transition: 0.2s;
  width: 100%;
  .product-link {
    color: #555;
    text-decoration: none;
  }
  .product-info {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

    .tag-procent {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: bold;

      left: 10px;
      top: 10px;

      span {
        padding: 5px;
      }
    }

    .tag-procent,
    .alert-promo {
      position: absolute;
      background: $red-primary;
    }

    .alert-promo {
      display: flex;
      align-items: center;

      padding: 5px 0;
      left: 9rem;
      top: 13rem;
      width: 10rem;

      .flash-img {
        padding: 0 5px;
      }

      img {
        color: $white-primary;
        width: 1.5rem;
      }
    }
  }

  .product-empty {
    padding: 4.4rem;
  }

  .product-info-img {
    height: 240px;
    width: 100%;
    // center image
    @include flexCenter(center, center);
    img {
      max-width: 200px;
    }
  }
  .product-info-description {
    padding: 15px;
    .title {
      font-size: 16px;
      font-weight: bold;
      color: $black;
      margin: 0;
      padding: 0;
    }

    .product-code {
      font-size: 10px;
    }

    .description {
      height: 30px;
      margin: 3px 0;

      //limit caracteres text description
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
    }
  }

  .price-box {
    @include flexCenter(center, initial);

    justify-content: space-between;
    padding: 20px;
  }

  .price {
    del {
      color: $black;
      font-weight: bold;
      font-size: 14px;
      margin-right: 10px;
    }
    ins {
      color: $red-secondary;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
    }

    .price-column {
      display: flex;
      flex-direction: column;
    }
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: $shadow;
  }

  .btn-block {
    padding-top: 1rem;

    @include flexCenter(initial, center);

    .btn-buy {
      @include flexCenter(initial, center);

      background: $red-tertiary;
      border: 0;
      cursor: pointer;
      border-radius: 0;

      .fas {
        margin-left: 3px;
      }

      &:hover {
        background: #0c1979;
      }

      span {
        padding-left: 1rem;
      }
    }
  }

  .btn-buy,
  .btn-empty {
    width: 100%;
    color: $white-primary;
    text-decoration: none;
    transition: 0.2s;
    padding: 10px 15px;
    @include flexCenter(initial, center);
  }

  .btn-block-empty {
    background-color: #bebebe;
    .btn-empty {
      cursor: none;
    }
  }
}
