.top-site .shipping-message {
  color: #920c0b;
}

.top-site .top-main {
  background-color: #920c0b;
}

.top-site .top-main .top-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 12px;
}

.top-site .top-main .contact {
  opacity: 0.7;
}

.top-site .top-main .search-auth-cart {
  margin-top: 1rem;
}

.top-site .top-main .search-auth-cart .content-search-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-site .top-main .search-auth-cart .content-search-top .btn-text-top {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 13px 50px 13px 30px;
  border-radius: 5px;
  width: 36vmax;
  font-weight: 300;
}

.top-site .top-main .search-auth-cart .content-search-top .btn-search-top {
  height: 22px;
  cursor: pointer !important;
  border: none;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
  position: relative;
  top: 25px;
  left: -43px;
}

.top-site .top-main .user-auth-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15rem;
  margin-left: 6rem;
}

.top-site .top-main .user-auth-cart .user-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 11rem;
  margin-left: -4rem;
}

.top-site .top-main .user-auth-cart .auth {
  color: #ffffffec;
}

.top-site .top-main .user-auth-cart .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -1.2rem;
}

.top-site .top-main .user-auth-cart .cart .notification-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 25px;
  font-size: 10px;
  cursor: pointer !important;
  border-radius: 1rem;
  background-color: #580000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
  position: relative;
  top: 0px;
  left: -18px;
}

.top-site .top-menu {
  background-color: #fff;
  height: 6rem;
}

.top-site .top-menu .active {
  color: #ff0000;
}

.top-site .top-menu li {
  padding-left: 1rem;
}

.top-site .top-menu a {
  color: #000000;
  opacity: 0.7;
}

.top-site .top-menu a:hover {
  opacity: 1;
}

.top-site .top-menu .offers {
  height: 3.5rem;
  width: 6rem;
  border-radius: 5px;
  background-color: #ff8925;
}
/*# sourceMappingURL=header.css.map */