@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$font: "Roboto", sans-serif;

$red-primary: #f00;
$red-secondary: #920c0b;
$red-tertiary: #d30e16;

$white-primary: #fff;
$white-secondary: #e1e1e1;

$black: #000;
$shadow: -2px 48px 56px -41px rgba(0, 0, 0, 0.37);
