@import "../variables";

@mixin flexElement($align_items, $justify_content) {
  display: flex;
  align-items: $align_items;
  justify-content: $justify_content;
}

.top-site {
  
  .row{
    --bs-gutter-x: 0;
  }

  .shipping-message {
    color: $red-secondary;
  }

  .top-main {
    background-color: $red-secondary;

    .top-elements {
      @include flexElement(center, end);
      font-size: 12px;
    }

    .contact {
      opacity: 0.7;
    }

    .search-auth-cart {
      margin-top: 1rem;

      .content-search-top {
        @include flexElement(initial, center);
        flex-wrap: wrap;
      }

      .content-search-top .input-search {
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 13px 50px 13px 30px;
        border-radius: 5px;
        width: 36vw;
        font-weight: 300;
      }

      .content-search-top .btn-search-top {
        height: 22px;
        cursor: pointer !important;
        border: none;
        transform: translateY(-50%);
        padding: 0;
        position: relative;
        top: 23px;
        left: -43px;
      }
    }

    .user-auth-cart {
      @include flexElement(center, space-between);
     
      width: 15rem;
      margin-left: 6rem;

      .user-auth {
        @include flexElement(center, space-between);
        width: 10.5rem;
        margin-left: -4rem;
      }

      .auth {
        color: $white-primary;
      }
      
      .cart {
        @include flexElement(center, center);
        margin-right: -1.2rem;
      }

      .cart .notification-cart {
        @include flexElement(center, center);

        height: 25px;
        width: 25px;
        font-size: 10px;
        cursor: pointer !important;
        border-radius: 1rem;
        background-color: #580000;
        transform: translateY(-50%);
        padding: 0;
        position: relative;
        top: 0px;
        left: -18px;
      }
    }
  }

  .top-menu {
    background-color: $white-primary;
    padding: 1rem;
    .active {
      color: $red-primary;
    }

    li {
      padding-left: 1rem;
    }

    a {
      color: $black;
      opacity: 0.7;
    }

    a:hover {
      opacity: 1;
    }

    .offers {
      height: 3.5rem;
      width: 6rem;

      border-radius: 5px;
      background-color: #ff8925;
    }
  }
}
