@media (max-width: 768px) {
  .top-site .top-main .top-elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .top-site {
    .top-main {
      .search-auth-cart .content-search-top {
        padding: 1rem 0 1rem 4rem;
      }
    }
  }

  .top-site .top-main .search-auth-cart .content-search-top {
    .input-search {
      width: 20rem;
    }
  }
}
